.homeLearnWithUs {}

.homeLearnWithUs__bg {
    position: absolute;
    right: 0;
    z-index: 1;
}

.homeLearnWithUs__subtitle {
    max-width: 50%;
}

.homeLearnWithUs h2 {
    font-size: 32px;
    margin-bottom: 42px;
    font-family: var(--mg-font-family);
    font-weight: var(--mg-font-weight-h2h3);
}


.homeLearnWithUs__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 40px;
}

.homeLearnWithUs__items>div {
    margin-right: 20px;
    /* display: flex;
    flex-basis: 10%; */
}

@media (max-width: 930px) {

    .homeLearnWithUs__subtitle {
        max-width: 80%;
    }

}
