:root {
    --home-ecosystem-border: #E6E6E6;
}

html[data-theme='dark'] {
    --home-ecosystem-border: #645965;
}

.homeEcosystem {
    margin-top: 80px;
}

.homeEcosystem h2 {
    font-size: 32px;
    margin-bottom: 42px;
    font-weight: var(--mg-font-weight-h2h3);
    font-family: var(--mg-font-family);
}

.homeEcosystem__menu__border {
    height: 1px;
    background: var(--home-ecosystem-border);
}

.homeEcosystem__menu {
    font-size: 16px;
    color: var(--mg-font-color-light2);
    font-weight: var(--mg-font-weight-h2h3);
    font-family: var(--mg-font-family);
}



.homeEcosystem__menu>div {
    display: inline-block;
    margin: 0 24px;
    position: relative;
    padding-bottom: 12px;
    cursor: pointer;
}

.homeEcosystem__menu__selected {
    color: var(--mg-font-color);
    font-weight: var(--mg-font-weight-h2h3);
    font-family: var(--mg-font-family);
}

.homeEcosystem__menu>div:first-child {
    margin-left: 0;
}

.homeEcosystem__menu__selected:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(328.07deg, #FB6E00 0%, #FFC500 100%);
}

.homeEcosystem__content {
    background: var(--mg-bg-light);
    height: 295px;
    border-bottom: 1px solid var(--home-ecosystem-border);
    border-top: 1px solid var(--home-ecosystem-border);
    border-left: 0px;
    border-right: 0px;
}

.homeEcosystem__content__inner {
    display: flex;
}

.homeEcosystem__content__inner>div {
    flex: 1;
}

.homeEcosystem__content__inner>div:first-child {
    padding-bottom: 56px;
}

.homeEcosystem__content__inner>div:first-child>div {
    display: flex;
    min-height: 200px;
}

.homeEcosystem__content__inner>div:last-child {
    position: relative;
}

.homeEcosystem__content__inner>div:last-child>img {
    position: absolute;
    top: -128px;
    right: 0;
}

.homeEcosystem__content__description {
    font-size: 16px;
    font-weight: var(--mg-font-weight-p);
    align-items: center;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--mg-font-color);
    font-family: var(--mg-font-family-alt);
    margin-bottom: -20px;
}

.homeEcosystem__content__url {
    color: var(--mg-primary);
    font-size: 16px;
    font-weight: var(--mg-font-weight-p);
    color: var(--mg-font-color);
    font-family: var(--mg-font-family-alt);
    line-height: 24px;
    letter-spacing: 0.01em;
}

.homeEcosystem__content__url:hover {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .homeEcosystem__content__inner>div:last-child {
        display: none;
    }
}
