/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FB6E00;
  --ifm-color-primary-dark: #E25500;
  --ifm-color-primary-darker: #C83B00;
  --ifm-color-primary-darkest: #AF2200;
  --ifm-color-primary-light: #FF881A;
  --ifm-color-primary-lighter: #FFA133;
  --ifm-color-primary-lightest: #FFBB4D;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer {
  background-color: #2e333a;
}