/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FB6E00;
  --ifm-color-primary-dark: #E25500;
  --ifm-color-primary-darker: #C83B00;
  --ifm-color-primary-darkest: #AF2200;
  --ifm-color-primary-light: #FF881A;
  --ifm-color-primary-lighter: #FFA133;
  --ifm-color-primary-lightest: #FFBB4D;
  --ifm-code-font-size: 95%;
  --mg-font-family: 'Encode Sans Condensed', sans-serif;
  --mg-font-family-alt: 'Roboto', sans-serif;
  --mg-font-color: #231F20;
  --mg-font-color-light: #857F87;
  --mg-body-bg: #ffffff;
  --mg-bg: #ffffff;
  --mg-primary: #DD2222;
  --mg-bg-light: #F9F9F9;
}

html[data-theme='dark'] {
  --mg-body-bg: #231F20;
  --mg-bg: #3E323F;
  --mg-font-color: #ffffff;
  --mg-font-color-light: #ffffff;
  --mg-bg-light: #3E323F;
}

html {
  background: var(--mg-body-bg);
}

body {
  font-family: var(--mg-font-family-alt);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mg-font-family);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer {
  background-color: #231F20;
}

.docsRating {
  display: inline-block;
  padding: 16px 30px 16px 40px;
  min-height: 66px;
  margin-top: 42px;
  margin-left: 0px;
  background-color: rgba(100, 215, 255, 0.3);
  text-align: center;
  color: #057594;
  line-height: 32px;
  font-weight: 500;
  border-radius: 0 var(--ifm-global-radius) var(--ifm-global-radius) 0;

  svg {
    height: 1.5em;
    width: 1.5em;
    margin: 0 0 0 6px;

    &:hover,
    &:focus {
      cursor: pointer;
      fill: var(--ifm-color-primary);
    }
  }

  .i_thumbsup {
    fill: #56a211;
    transform: translateY(0.25em);
    margin-left: 12px;
  }

  .i_thumbsdown {
    fill: #e9430f;
    transform: scale(-1, -1) translateY(-0.25em);
  }
}

html[data-theme="dark"] .docsRating {
  color: #cee9f3;
}

@media only screen and (max-width: 996px) {
  .docsRating {
    width: 100%;
    margin: 36px 0 0 !important;
    border-radius: var(--ifm-global-radius);
  }
}

/* Hide copy button from output blocks */

.nocopy button {
  display: none;
}

.imgBorder {
  border: 3px solid #555;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00917 4.65294e-06C6.87043 -0.0021691 4.80082 0.757371 3.17123 2.14251C1.54163 3.52765 0.458568 5.44785 0.11613 7.55899C-0.226307 9.67014 0.194264 11.8342 1.30247 13.6635C2.41069 15.4927 4.1341 16.8675 6.16386 17.5414C6.6169 17.6243 6.77712 17.3425 6.77712 17.105C6.77712 16.8674 6.77712 16.326 6.77712 15.5746C4.26331 16.1216 3.73292 14.3646 3.73292 14.3646C3.56616 13.8201 3.21186 13.3523 2.73292 13.0442C1.92077 12.4917 2.79922 12.4917 2.79922 12.4917C3.08392 12.5319 3.35573 12.6364 3.59407 12.7972C3.83242 12.958 4.03104 13.171 4.17491 13.4199C4.29716 13.6416 4.46197 13.8369 4.65989 13.9947C4.85781 14.1525 5.08494 14.2697 5.32825 14.3395C5.57156 14.4093 5.82627 14.4304 6.07775 14.4015C6.32923 14.3726 6.57253 14.2944 6.7937 14.1713C6.82837 13.7168 7.02431 13.2896 7.34618 12.9669C5.34618 12.7403 3.24674 11.9669 3.24674 8.54697C3.233 7.65359 3.56335 6.78914 4.16939 6.1326C3.89947 5.35582 3.93102 4.50602 4.25779 3.75139C4.25779 3.75139 5.01469 3.50829 6.73292 4.67404C8.20839 4.26893 9.76575 4.26893 11.2412 4.67404C12.9594 3.50829 13.7108 3.75139 13.7108 3.75139C14.0421 4.49803 14.0816 5.34174 13.8213 6.11603C14.4274 6.77256 14.7577 7.63701 14.744 8.53039C14.744 11.989 12.639 12.7459 10.6335 12.9503C10.8485 13.1665 11.0146 13.4263 11.1204 13.7123C11.2262 13.9983 11.2693 14.3037 11.2467 14.6077C11.2467 15.8122 11.2467 16.7845 11.2467 17.0774C11.2467 17.3702 11.407 17.5967 11.8655 17.5083C13.8722 16.8165 15.5698 15.4378 16.6584 13.6157C17.7471 11.7936 18.1567 9.6454 17.8149 7.55055C17.4732 5.4557 16.402 3.54905 14.7907 2.16742C13.1794 0.7858 11.1316 0.0181202 9.00917 4.65294e-06Z'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M9.00917 4.65294e-06C6.87043 -0.0021691 4.80082 0.757371 3.17123 2.14251C1.54163 3.52765 0.458568 5.44785 0.11613 7.55899C-0.226307 9.67014 0.194264 11.8342 1.30247 13.6635C2.41069 15.4927 4.1341 16.8675 6.16386 17.5414C6.6169 17.6243 6.77712 17.3425 6.77712 17.105C6.77712 16.8674 6.77712 16.326 6.77712 15.5746C4.26331 16.1216 3.73292 14.3646 3.73292 14.3646C3.56616 13.8201 3.21186 13.3523 2.73292 13.0442C1.92077 12.4917 2.79922 12.4917 2.79922 12.4917C3.08392 12.5319 3.35573 12.6364 3.59407 12.7972C3.83242 12.958 4.03104 13.171 4.17491 13.4199C4.29716 13.6416 4.46197 13.8369 4.65989 13.9947C4.85781 14.1525 5.08494 14.2697 5.32825 14.3395C5.57156 14.4093 5.82627 14.4304 6.07775 14.4015C6.32923 14.3726 6.57253 14.2944 6.7937 14.1713C6.82837 13.7168 7.02431 13.2896 7.34618 12.9669C5.34618 12.7403 3.24674 11.9669 3.24674 8.54697C3.233 7.65359 3.56335 6.78914 4.16939 6.1326C3.89947 5.35582 3.93102 4.50602 4.25779 3.75139C4.25779 3.75139 5.01469 3.50829 6.73292 4.67404C8.20839 4.26893 9.76575 4.26893 11.2412 4.67404C12.9594 3.50829 13.7108 3.75139 13.7108 3.75139C14.0421 4.49803 14.0816 5.34174 13.8213 6.11603C14.4274 6.77256 14.7577 7.63701 14.744 8.53039C14.744 11.989 12.639 12.7459 10.6335 12.9503C10.8485 13.1665 11.0146 13.4263 11.1204 13.7123C11.2262 13.9983 11.2693 14.3037 11.2467 14.6077C11.2467 15.8122 11.2467 16.7845 11.2467 17.0774C11.2467 17.3702 11.407 17.5967 11.8655 17.5083C13.8722 16.8165 15.5698 15.4378 16.6584 13.6157C17.7471 11.7936 18.1567 9.6454 17.8149 7.55055C17.4732 5.4557 16.402 3.54905 14.7907 2.16742C13.1794 0.7858 11.1316 0.0181202 9.00917 4.65294e-06Z'/%3E%3C/svg%3E") no-repeat;
}

.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2842 13.2353C13.2842 13.2353 12.7295 12.5578 12.2671 11.959C14.286 11.3761 15.0565 10.0841 15.0565 10.0841C14.4247 10.5095 13.8236 10.8088 13.2842 11.0137C12.5137 11.3446 11.774 11.5651 11.0497 11.6912C9.5702 11.9748 8.21404 11.896 7.05822 11.6754C6.17979 11.5021 5.42466 11.25 4.79281 10.9979C4.43836 10.8561 4.05308 10.6828 3.66781 10.4622C3.62158 10.4307 3.57534 10.4149 3.52911 10.3834C3.49829 10.3677 3.48288 10.3519 3.46747 10.3362C3.19007 10.1786 3.03596 10.0683 3.03596 10.0683C3.03596 10.0683 3.77568 11.3288 5.73288 11.9275C5.27055 12.5263 4.70034 13.2353 4.70034 13.2353C1.29452 13.125 0 10.8404 0 10.8404C0 5.76688 2.21918 1.65453 2.21918 1.65453C4.43836 -0.0471374 6.54966 0.000130937 6.54966 0.000130937L6.70377 0.189204C3.92979 1.00852 2.65069 2.25326 2.65069 2.25326C2.65069 2.25326 2.98973 2.06419 3.55993 1.79633C5.2089 1.05579 6.51884 0.850963 7.05822 0.803694C7.15068 0.787938 7.22774 0.772182 7.32021 0.772182C8.26027 0.646133 9.32363 0.614621 10.4332 0.74067C11.8973 0.913987 13.4692 1.35516 15.0719 2.25326C15.0719 2.25326 13.8545 1.07155 11.2346 0.252229L11.4503 0.000130937C11.4503 0.000130937 13.5616 -0.0471374 15.7808 1.65453C15.7808 1.65453 18 5.76688 18 10.8404C18 10.8404 16.6901 13.125 13.2842 13.2353ZM6.11815 5.87717C5.23973 5.87717 4.54623 6.66498 4.54623 7.62611C4.54623 8.58723 5.25514 9.37504 6.11815 9.37504C6.99657 9.37504 7.69007 8.58723 7.69007 7.62611C7.70548 6.66498 6.99657 5.87717 6.11815 5.87717ZM11.7431 5.87717C10.8647 5.87717 10.1712 6.66498 10.1712 7.62611C10.1712 8.58723 10.8801 9.37504 11.7431 9.37504C12.6216 9.37504 13.3151 8.58723 13.3151 7.62611C13.3151 6.66498 12.6216 5.87717 11.7431 5.87717Z'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-discord-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M13.2842 13.2353C13.2842 13.2353 12.7295 12.5578 12.2671 11.959C14.286 11.3761 15.0565 10.0841 15.0565 10.0841C14.4247 10.5095 13.8236 10.8088 13.2842 11.0137C12.5137 11.3446 11.774 11.5651 11.0497 11.6912C9.5702 11.9748 8.21404 11.896 7.05822 11.6754C6.17979 11.5021 5.42466 11.25 4.79281 10.9979C4.43836 10.8561 4.05308 10.6828 3.66781 10.4622C3.62158 10.4307 3.57534 10.4149 3.52911 10.3834C3.49829 10.3677 3.48288 10.3519 3.46747 10.3362C3.19007 10.1786 3.03596 10.0683 3.03596 10.0683C3.03596 10.0683 3.77568 11.3288 5.73288 11.9275C5.27055 12.5263 4.70034 13.2353 4.70034 13.2353C1.29452 13.125 0 10.8404 0 10.8404C0 5.76688 2.21918 1.65453 2.21918 1.65453C4.43836 -0.0471374 6.54966 0.000130937 6.54966 0.000130937L6.70377 0.189204C3.92979 1.00852 2.65069 2.25326 2.65069 2.25326C2.65069 2.25326 2.98973 2.06419 3.55993 1.79633C5.2089 1.05579 6.51884 0.850963 7.05822 0.803694C7.15068 0.787938 7.22774 0.772182 7.32021 0.772182C8.26027 0.646133 9.32363 0.614621 10.4332 0.74067C11.8973 0.913987 13.4692 1.35516 15.0719 2.25326C15.0719 2.25326 13.8545 1.07155 11.2346 0.252229L11.4503 0.000130937C11.4503 0.000130937 13.5616 -0.0471374 15.7808 1.65453C15.7808 1.65453 18 5.76688 18 10.8404C18 10.8404 16.6901 13.125 13.2842 13.2353ZM6.11815 5.87717C5.23973 5.87717 4.54623 6.66498 4.54623 7.62611C4.54623 8.58723 5.25514 9.37504 6.11815 9.37504C6.99657 9.37504 7.69007 8.58723 7.69007 7.62611C7.70548 6.66498 6.99657 5.87717 6.11815 5.87717ZM11.7431 5.87717C10.8647 5.87717 10.1712 6.66498 10.1712 7.62611C10.1712 8.58723 10.8801 9.37504 11.7431 9.37504C12.6216 9.37504 13.3151 8.58723 13.3151 7.62611C13.3151 6.66498 12.6216 5.87717 11.7431 5.87717Z'/%3E%3C/svg%3E") no-repeat;
}