.homeCallouts {
    margin-top: -60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    transition: all ease-in-out 500ms;
}

.homeCallouts__item:hover {
    transform: translate(0, -5px);
}

@media (max-width: 1024px) {
    .homeCallouts {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 768px) {
    .homeCallouts {
        grid-template-columns: auto;
    }
}
